/*//////////////////////// CONTAINERS ////////////////////////*/

html{
    background-color: rgb(10, 49, 155);

}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(10, 49, 155);
  color: white;
  font-weight: bolder;
  font-family: 'Ubuntu', sans-serif;

}

.centered-container{
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-self: center;
}

.content-container{
  height: 80vh;
}

/*//////////////////////// MISC ELEMENT STYLE /////////////////////*/

.view-switch-button {
  width: 60%;
  height: 75px;
  background-color: rgb(161, 244, 200);
  border-bottom: 5px solid rgb(99, 178, 136);
  border-radius: 10px;
  align-self: center;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 2px rgb(99, 178, 136);
  box-shadow: 10px 10px 5px 5px rgb(0, 26, 94);
}

/*//////////////////////// TITLE ////////////////////////*/

.title{
  height: 60vh;
}

.title-heading {
  width: 100%;
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
}

.title-button {
  margin-top: 100px;
}

/*//////////////////////// PC INPUT ////////////////////////*/

.pc-input-container {
   align-self: center;
   width: 60%;
   color: rgb(161, 244, 200);
   font-size: 40px;
}


.single-input-container input {
  width: 85%;
  font-size: 30px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 5px rgb(0, 26, 94);
  padding: 10px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*//////////////////////// SHARED CODE STYLES ////////////////////////*/

.outer-code-container{
  display: flex;
  flex-direction: column;
}

.code-mirror-sizer {
  width: 60vw;
  text-align: left;
  box-shadow: 10px 10px 5px 5px rgb(0, 26, 94);
  margin-bottom: 20px;
}

div.CodeMirror {
  height: inherit;
}

.ReactCodeMirror{
  height: 200px;
}


/*//////////////////////// CODE BLOCK ////////////////////////*/
/*//////////////////////// TEXT EDITOR ////////////////////////*/
/*//////////////////////// KEYFRAMES //////////////////////////*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
